<mtapp:setting
    id="notification_mail_subject"
    label="<__trans phrase="Mail Subject">">
<ul>
<li><input type="text" class="full text" name="notification_mail_subject" id="notification_mail_subject" value="<mt:var name="notification_mail_subject" escape="html">"></li>
</ul>
</mtapp:setting>
<mtapp:setting
    id="notification_mail_body"
    label="<__trans phrase="Mail Body">">
<ul>
<li><textarea rows="10" class="full low text" name="notification_mail_body" id="notification_mail_body"><mt:var name="notification_mail_body" escape="html"></textarea></li>
</ul>
</mtapp:setting>